* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 80%;
  height: 500px;
  border: 1px solid #333;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #fff);
  border-bottom: 30px solid #3cc521;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 70px;
  animation: pipe-animation 3s infinite linear;
}

.mario {
  width: 100px;
  position: absolute;
  bottom: 0;
  z-index: 999;
}

.jump {
  animation: jump-animation 500ms infinite;
}

.clouds {
  width: 300px;
  position: absolute;
  top: 30px;
  z-index: 100;
  animation: clouds-animation 10s infinite linear;
}

.clouds2 {
  top: 12px;
  width: 120px;
  z-index: 91;
  animation: clouds-animation 15s infinite linear;
}

.clouds3 {
  top: 100px;
  width: 200px;
  z-index: 92;
  animation: clouds-animation 30s infinite linear;
}

.paragoomba {
  width: 50px;
  position: absolute;
  top: 180px;
  z-index: 101;
  animation: paragoomba-animation 12s infinite linear;
}

.chronometer {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #ffdd00;
  text-shadow: 1px 1px #000;
  z-index: 999;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.restart {
  position: absolute;
  top: 180px;
  left: 500px;
  background-color: #0039a2;
  border: 1px solid #12a4ff;
  color: white;
  width: 100px;
  height: 100px;
  cursor: pointer;
  opacity: 0.8;
  text-align: center;
  font-weight: bold;
  border-radius: 100%;
  animation: restart-animation 1s infinite;
  display: none;
}

@keyframes pipe-animation {
  from {
    right: 0;
  }

  to {
    right: 100%;
  }
}

@keyframes jump-animation {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 170px;
  }

  50% {
    bottom: 170px;
  }

  60% {
    bottom: 170px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes clouds-animation {
  from {
    right: -200px;
  }

  to {
    right: 100%;
  }
}

@keyframes paragoomba-animation {
  from {
    right: 0;
  }

  to {
    right: 100%;
  }
}

@keyframes restart-animation {
  0% {
    width: 100px;
    height: 100px;
    top: 180px;
    left: 500px;
    border: 10px solid #c00000;
    color: #c00000;
  }

  30% {
    width: 120px;
    height: 120px;
    top: 180px;
    left: 490px;
    border: 10px solid #ffdd00;
    color: #ffdd00;
  }

  80% {
    width: 120px;
    height: 120px;
    top: 180px;
    left: 490px;
    border: 10px solid #00eaff;
    color: #00eaff;
  }

  100% {
    width: 100px;
    height: 100px;
    top: 180px;
    left: 500px;
    border: 10px solid #7000a4;
    color: #7000a4;
  }
}
